In [43]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy_utils import create_database, database_exists
#Create connection string using credentials:
connection_str = "mysql+pymysql://root:root@localhost/Moviesdb"

In [44]:
engine = create_engine(connection_str)

In [45]:
## Check if database exists, if not, create it
if database_exists(connection):
    print('It exists!')
else:
    create_database(connection)
    print('Database created!')

It exists!

In [46]:
database_exists(connection_str)

True

In [47]:
basics_url="https://datasets.imdbws.com/title.basics.tsv.gz"

In [48]:
akas_url="https://datasets.imdbws.com/title.akas.tsv.gz"

In [49]:
ratings_url="https://datasets.imdbws.com/title.ratings.tsv.gz"

# Loading TSV's with Pandas

In [50]:
basics = pd.read_csv(basics_url, sep='\t', low_memory=False)

In [51]:
akas = pd.read_csv(akas_url, sep='\t', low_memory=False)

In [52]:
ratings = pd.read_csv(ratings_url, sep='\t', low_memory=False)

# Required Preprocessing

## Handling \N Placeholder Values

In [53]:
basics.replace({'\\N':'np.nan'}, inplace = True)

In [54]:
akas.replace({'\\N':'np.nan'}, inplace = True)

In [55]:
ratings.replace({'\\N':'np.nan'}, inplace = True)

In [56]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,np.nan,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,np.nan,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,np.nan,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,np.nan,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,np.nan,1,"Comedy,Short"

In [57]:
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,np.nan,imdbDisplay,np.nan,0
1,tt0000001,2,Carmencita,DE,np.nan,np.nan,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,np.nan,imdbDisplay,np.nan,0
3,tt0000001,4,Καρμενσίτα,GR,np.nan,imdbDisplay,np.nan,0
4,tt0000001,5,Карменсита,RU,np.nan,imdbDisplay,np.nan,0

In [58]:
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1982
1  tt0000002            5.8       265
2  tt0000003            6.5      1840
3  tt0000004            5.5       178
4  tt0000005            6.2      2625

# Preprocessing Title Basics

## Eliminate movies that are null for runtimeMinutes

In [59]:
# Check for duplicates
basics.duplicated().sum()

0

In [60]:
# Check for null values
basics.isna().sum()

tconst             0
titleType          0
primaryTitle      11
originalTitle     11
isAdult            0
startYear          0
endYear            0
runtimeMinutes     0
genres            15
dtype: int64

- There are no null values under runtimeMinutes

In [79]:
# Eliminate movies that are null for genres
basics['genres'].fillna(value= 'Unknown', inplace=True)

In [80]:
# Null values in genres has been eliminated
basics.isna().sum()

tconst             0
titleType          0
primaryTitle      11
originalTitle     11
isAdult            0
startYear          0
endYear            0
runtimeMinutes     0
genres             0
dtype: int64

In [75]:
#Keep only titleType equal to Movie
basics['titleType'].value_counts()

tvEpisode       7580565
short            938271
movie            649516
video            275900
tvSeries         245848
tvMovie          142222
tvMiniSeries      49141
tvSpecial         42178
videoGame         35003
tvShort            9971
tvPilot               1
Name: titleType, dtype: int64

In [81]:
basics = basics.drop(basics[basics['titleType'] != 'movie'].index)

In [82]:
basics['titleType'].value_counts()

movie    649516
Name: titleType, dtype: int64

In [84]:
# Keep startYear 2000-2022
basics['startYear'].value_counts().sort_index()

1894          1
1896          1
1897          2
1898          7
1899          8
          ...
2028          2
2029          4
2030          1
2031          1
np.nan    91670
Name: startYear, Length: 138, dtype: int64

In [86]:
basics.dropna(subset = ['startYear'])

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,np.nan,45,Romance
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,np.nan,100,"Documentary,News,Sport"
498,tt0000502,movie,Bohemios,Bohemios,0,1905,np.nan,100,np.nan
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,np.nan,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,np.nan,90,Drama
...,...,...,...,...,...,...,...,...,...
9968507,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,0,2015,np.nan,57,Documentary
9968534,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007,np.nan,100,Documentary
9968546,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,np.nan,np.nan,Comedy
9968556,tt9916730,movie,6 Gunn,6 Gunn,0,2017,np.nan,116,np.nan
9968566,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013,np.nan,49,Documentary

In [93]:
# Eliminate movies that include "Documentary" in genre
#is_documentary = basics['genres'].str.contains('Documentary',case=False)
#basics = basics[~is_documentary]

In [91]:
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers =basics['tconst'].isin(akas['titleId'])
keepers

8          True
144        True
498        True
570        True
587        True
           ...
9968507    True
9968534    True
9968546    True
9968556    True
9968566    True
Name: tconst, Length: 649516, dtype: bool

In [92]:
basics = basics[keepers]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,np.nan,45,Romance
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,np.nan,100,"Documentary,News,Sport"
498,tt0000502,movie,Bohemios,Bohemios,0,1905,np.nan,100,np.nan
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,np.nan,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,np.nan,90,Drama
...,...,...,...,...,...,...,...,...,...
9968507,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,0,2015,np.nan,57,Documentary
9968534,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007,np.nan,100,Documentary
9968546,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,np.nan,np.nan,Comedy
9968556,tt9916730,movie,6 Gunn,6 Gunn,0,2017,np.nan,116,np.nan
9968566,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013,np.nan,49,Documentary

# Preprocessing AKAs

In [96]:
akas['region'].value_counts()

DE        4362321
FR        4357493
JP        4356347
IN        4298841
ES        4277175
IT        4258146
PT        4187438
np.nan    1894942
US        1447990
GB         452171
CA         232065
XWW        174749
AU         140379
BR         118804
RU          97511
MX          94785
GR          92514
PL          88643
FI          87311
SE          77058
HU          75105
NL          63276
AR          60337
PH          59197
NO          57023
DK          55564
TR          52980
XWG         51781
SUHH        37938
CN          35830
HK          34961
BE          33736
TW          33181
KR          32736
ZA          31743
SG          31604
AT          29909
RO          28515
BG          27848
UA          27262
RS          22820
CZ          20581
IL          20115
ID          19152
IE          16584
AE          16424
XYU         15869
EG          14921
HR          14470
IR          14308
CH          13329
VE          13167
NZ          13083
TH          12163
VN          11656
LT          11624
EC          11364
CL          10428
CSHH         9942
DDDE         9788
SI           9473
CO           9015
NG           8844
SK           8508
PE           8296
UY           7522
EE           7177
XEU          6098
PK           5224
LV           5030
MY           4435
BD           4043
DO           2764
IS           2634
CU           2438
AL           2215
BA           2127
LB           1807
PR           1749
LK           1726
UZ           1667
XAS          1513
TN           1510
GE           1497
NP           1362
MA           1219
LU           1116
KZ           1070
CY           1068
DZ            988
AZ            934
SA            902
MK            896
BY            884
AM            842
CR            828
CM            828
PA            806
JM            775
KP            734
KE            733
GH            727
YUCS          719
BO            717
LI            664
IQ            584
SY            579
UG            552
QA            550
MT            469
XKO           452
PY            416
MN            404
BF            393
JO            382
GT            377
KW            374
KH            365
SN            341
TT            327
MD            321
XKV           282
AF            261
PS            260
MM            248
ME            239
XSA           216
CI            212
CG            211
SM            209
SV            206
HT            199
KG            196
BJ            189
MC            178
BH            177
MZ            174
TZ            160
HN            159
CD            159
TG            156
ZW            150
GI            141
ET            141
BS            137
AO            133
MO            125
NI            122
CSXX          119
GA            116
SL            113
ZM            113
VI            105
GP            101
RW            101
GL             94
MU             94
NE             93
LA             86
MV             85
YE             82
ML             79
SD             77
FO             77
TJ             74
MG             71
TM             70
BT             66
GU             61
LY             60
GM             59
BB             58
BUMM           55
AD             54
VDVN           53
BI             53
LR             52
MW             51
OM             47
KY             46
GN             46
MQ             45
XPI            43
AN             42
IM             42
AW             39
FJ             39
BM             37
BW             36
SC             35
BZ             34
PF             34
SZ             30
SO             30
PG             27
SR             26
CV             25
TD             25
RE             24
CF             24
GY             23
AG             22
BN             21
TL             20
GW             19
DM             18
NC             18
MR             17
LS             15
ER             15
LC             14
VG             13
TO             13
GQ             11
VA             11
AQ             10
MH              9
GF              8
VU              7
VC              7
XSI             7
KN              6
AS              6
ST              6
ZRCD            6
EH              6
GD              6
SB              6
WS              5
AI              5
KM              5
CK              4
XAU             4
MP              4
CW              3
DJ              3
TC              3
MS              3
SH              3
KI              3
CC              2
JE              2
XNA             2
FM              2
TV              1
PW              1
NR              1
NU              1
Name: region, dtype: int64

In [97]:
# Keep only US movies
akas = akas.drop(akas[akas['region'] != 'US'].index)

In [98]:
akas['region'].value_counts()

US    1447990
Name: region, dtype: int64

# Preprocessing Ratings

In [ ]:
# Filter the ratings table down to only include the US movies
keepers =basics['tconst'].isin(akas['titleId'])
keepers

In [100]:
# example making new folder with os
import os
os.makedirs('Data/',exist_ok=True) 
# Confirm folder created
os.listdir("Data/")

['.ipynb_checkpoints',
 'title.akas.tsv.gz',
 'title.basics.tsv.gz',
 'title.ratings.tsv.gz']

In [102]:
basics.to_sql('basics', engine, if_exists = 'replace')

638501

In [104]:
akas.to_sql('akas', engine, if_exists = 'replace')

DataError: (pymysql.err.DataError) (1406, "Data too long for column 'title' at row 1")
[SQL: INSERT INTO akas (`index`, `titleId`, ordering, title, region, language, types, attributes, `isOriginalTitle`) VALUES (%(index)s, %(titleId)s, %(ordering)s, %(title)s, %(region)s, %(language)s, %(types)s, %(attributes)s, %(isOriginalTitle)s)]
[parameters: ({'index': 5, 'titleId': 'tt0000001', 'ordering': 6, 'title': 'Carmencita', 'region': 'US', 'language': 'np.nan', 'types': 'imdbDisplay', 'attributes': 'np.nan', 'isOriginalTitle': '0'}, {'index': 14, 'titleId': 'tt0000002', 'ordering': 7, 'title': 'The Clown and His Dogs', 'region': 'US', 'language': 'np.nan', 'types': 'np.nan', 'attributes': 'literal English title', 'isOriginalTitle': '0'}, {'index': 33, 'titleId': 'tt0000005', 'ordering': 10, 'title': 'Blacksmith Scene', 'region': 'US', 'language': 'np.nan', 'types': 'imdbDisplay', 'attributes': 'np.nan', 'isOriginalTitle': '0'}, {'index': 36, 'titleId': 'tt0000005', 'ordering': 1, 'title': 'Blacksmithing Scene', 'region': 'US', 'language': 'np.nan', 'types': 'alternative', 'attributes': 'np.nan', 'isOriginalTitle': '0'}, {'index': 41, 'titleId': 'tt0000005', 'ordering': 6, 'title': 'Blacksmith Scene #1', 'region': 'US', 'language': 'np.nan', 'types': 'alternative', 'attributes': 'np.nan', 'isOriginalTitle': '0'}, {'index': 42, 'titleId': 'tt0000005', 'ordering': 7, 'title': 'Blacksmithing', 'region': 'US', 'language': 'np.nan', 'types': 'np.nan', 'attributes': 'informal alternative title', 'isOriginalTitle': '0'}, {'index': 47, 'titleId': 'tt0000006', 'ordering': 3, 'title': 'Chinese Opium Den', 'region': 'US', 'language': 'np.nan', 'types': 'imdbDisplay', 'attributes': 'np.nan', 'isOriginalTitle': '0'}, {'index': 52, 'titleId': 'tt0000007', 'ordering': 1, 'title': 'Corbett and Courtney Before the Kinetograph', 'region': 'US', 'language': 'np.nan', 'types': 'imdbDisplay', 'attributes': 'np.nan', 'isOriginalTitle': '0'}  ... displaying 10 of 1447990 total bound parameter sets ...  {'index': 36390434, 'titleId': 'tt9916756', 'ordering': 1, 'title': 'Pretty Pretty Black Girl', 'region': 'US', 'language': 'np.nan', 'types': 'imdbDisplay', 'attributes': 'np.nan', 'isOriginalTitle': '0'}, {'index': 36390450, 'titleId': 'tt9916764', 'ordering': 1, 'title': '38', 'region': 'US', 'language': 'np.nan', 'types': 'imdbDisplay', 'attributes': 'np.nan', 'isOriginalTitle': '0'})]
(Background on this error at: https://sqlalche.me/e/14/9h9h)

In [ ]:
ratings.to_sql('ratings', engine, if_exists = 'replace')

# Final .info()

In [105]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 638501 entries, 8 to 9968566
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          638501 non-null  object
 1   titleType       638501 non-null  object
 2   primaryTitle    638501 non-null  object
 3   originalTitle   638501 non-null  object
 4   isAdult         638501 non-null  object
 5   startYear       638501 non-null  object
 6   endYear         638501 non-null  object
 7   runtimeMinutes  638501 non-null  object
 8   genres          638501 non-null  object
dtypes: object(9)
memory usage: 48.7+ MB

In [106]:
akas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1447990 entries, 5 to 36390450
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1447990 non-null  object
 1   ordering         1447990 non-null  int64
 2   title            1447990 non-null  object
 3   region           1447990 non-null  object
 4   language         1447990 non-null  object
 5   types            1447990 non-null  object
 6   attributes       1447990 non-null  object
 7   isOriginalTitle  1447990 non-null  object
dtypes: int64(1), object(7)
memory usage: 99.4+ MB

In [107]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1324800 entries, 0 to 1324799
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1324800 non-null  object
 1   averageRating  1324800 non-null  float64
 2   numVotes       1324800 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 30.3+ MB